<div class="bg-gradient-to-br from-[#2b1d1d] via-[#231a1b] to-[#1b1313] border border-[#322625] rounded-2xl shadow-xl p-6">
  <div class="flex items-center justify-between">
    
    <!-- Left: Title, Value, Trend -->
    <div class="space-y-1">
      <!-- Title -->
      <p class="text-[#d1bfbf] ">{{ title }}</p>
      
      <!-- Value -->
      <p class="text-[#d1bfbf] text-xl font-bold ">{{ value }}</p>
      
      <!-- Trend -->
      <p *ngIf="trend" 
         [ngClass]="trendUp ? 'text-success' : 'text-error'" 
         class="text-xs">
        {{ trend }}
      </p>
    </div>

    <!-- Right: Icon -->
    <div class="p-3 rounded-lg bg-primary/10 flex items-center justify-center">
      <lucide-icon [img]="icon" class="h-6 w-6 text-primary"></lucide-icon>
    </div>

  </div>
</div>
