<div class="bg-gradient-to-br from-[#2b1d1d] via-[#231a1b] to-[#1b1313] border border-[#322625] rounded-2xl shadow-xl p-6 flex items-center justify-between">

  <div class="space-y-1 w-full">

    <div *ngIf="loading" class="text-gray-400 text-sm">
      Loading...
    </div>

    <div *ngIf="!loading && error" class="text-red-500 text-sm">
      {{ error }}
    </div>

    <div *ngIf="!loading && !error">
      <p class="text-[#d1bfbf]">{{ title }}</p>
      <p class="text-[#d1bfbf] text-xl font-bold">{{ value }}</p>
      
       <p *ngIf="trend" 
          [ngClass]="{
           'text-red-500': trendDown,                 
           'text-green-500': trendUp && !trendDown,    
           'text-gray-400': !trendUp && !trendDown   
          }" 
          class="text-xs">
        {{ trend }}
        </p>
      </div>
    
  </div>

  <div class="p-3 rounded-lg bg-primary/10 flex items-center justify-center">
    <lucide-icon *ngIf="icon && !loading" [img]="icon" class="h-6 w-6 text-primary"></lucide-icon>
    <lucide-icon *ngIf="loading" [img]="defaultIcon" class="h-6 w-6 text-gray-400"></lucide-icon>
  </div>

</div>