@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 200;
  font-style: normal;
}

.plaster-regular {
  font-family: "Plaster", system-ui;
  font-weight: 300;
  font-style: normal;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.playwrite-co {
  font-family: "Playwrite CO", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.badeen-regular {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sonsie-regular {
  font-family: "Sonsie One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.honk-3d {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

@layer base {
  :root {
    /* 🌞 Light Mode */
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --border: 220 13% 90%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --accent: 243 75% 59%;
    --accent-foreground: 0 0% 100%;

    --sidebar-background: 220 14% 96%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-border: 220 13% 90%;
    --sidebar-active: 217 91% 60%;

    --success: 142 71% 45%;
    --error: 0 84% 60%;
    --warning: 38 92% 50%;
  }

  .dark {
    /* 🌚 Dark Mode */
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 221 39% 16%;
    --border: 220 17% 24%;

    --primary: 217 91% 60%;
    --primary-foreground: 220 26% 14%;

    --accent: 243 75% 59%;
    --accent-foreground: 210 40% 98%;

    --sidebar-background: 220 26% 14%;
    --sidebar-foreground: 215 16% 65%;
    --sidebar-border: 220 17% 24%;
    --sidebar-active: 217 91% 60%;

    --success: 142 71% 45%;
    --error: 0 84% 60%;
    --warning: 38 92% 50%;
  }
}

